#popover_container
  #popover_block
    #close_button
    = form_for Bid.new, remote: true, html: {class: 'inputs'} do |f|
      .input-wrap
        = f.label :name do
          = 'Ваше имя<sup>*</sup>'.html_safe
        = f.text_field :name, type: 'text', class: 'important_field'
      .input-wrap
        = f.label :address do
          = 'Ваш адрес<sup>*</sup>'.html_safe
        = f.text_field :address, type: 'text', class: 'important_field'
      .input-wrap
        = f.label :phone do
          = 'Ваш телефон<sup>*</sup>'.html_safe
        = f.text_field :phone, type: 'text', class: 'important_field'
      .input-wrap
        = f.label 'Ваш e-mail'
        = f.text_field :email, type: 'text'
      #for_label_2
        = f.label 'Email введен некорректно.', class: 'validation_message_2'
      .input-wrap
        = f.label :date do
          = 'Дата замера<sup>*</sup>'.html_safe
        = f.text_field :date, type: 'text', class: 'important_field with-calendar'
        .calendar
          %img{src: '/images/calendar.png'}
      .input-wrap
        = f.label 'Удобное время'
        = f.text_field :time, type: 'text'
      .input-wrap{class: 'input-field'}
        = f.label 'Дополнительная информация'
        = f.text_area :info, type: 'text'
      #for_label
        = f.label 'Заполните все поля, пожалуйста.', class: 'validation_message'
      .button-wrap
        = f.submit class: 'submit_button', value: 'ОТПРАВИТЬ ЗАЯВКУ', html: {class: 'bid_button'}
#popover_success
  #popover_text
    Ваша заявка принята!
  .bid_button{id: 'bid_2'}
    = link_to 'Превосходно!', "",  class: 'bid_button_text'
