!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Vector

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #document-wrapper

      #menu_container
        = render partial: '/menu'

      #content_container
        #content_block{class: @page.color}

          #side_menu
            #side_menu_pic
            .side_menu_item{id: 'side-' + @page.color}
              - parent = @page.parent.nil? ? @page : @page.parent
              = link_to '', parent
              .side_menu_text
                = parent.name
              .side_menu_desc
                = raw parent.meta_desc
            - @primary_pages.each do |page|
              - if page != parent
                .side_menu_item{id: 'side-' + page.color}
                  = link_to '', page
                  .side_menu_text
                    = page.name
          #right_block>
            %nav
              - i = 0
              - parent.pages.each do |page|
                - (page == @page) ? active_class = 'active_item' : active_class = ''
                - i = i + 1
                .top_menu_item{class: active_class, id: 'top_menu_item_' + i.to_s}>
                  = link_to '', page
                  .top_menu_text
                    = page.name
            #right_block_content
              = yield

